html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        
        title Suggested Question Detail 
    include ../menuLateral.jade
    
    div(class='container-fluid')
        div(class='row')
            div(class='col-1')
            div(class='col-10')
                h2 Suggested Question Detail
                
                - if(error)
                    ul(class='list-group ul-style')
                        h5 Fix the following errors: 
                        - for errors in error
                             li(class="list-group-item list-group-item-danger alert alert-danger alert-dismissible fade show" role="alert")  #{errors.msg}    
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true")&times; 
            div(class='col-1')


        div(class='row')
            div(class='col-1')
            div(id='alert' class="col-10 alert alert-info div-alert-custom" role="alert") The system suggests that the level of this question is:
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true")&times;
                p(id='palert' class='p-alert-custom')
             div(class='col-1')
        br
        form(id='form', action='/suggestedQuestion/new', method='POST')
            input(id='_id', name='_id', type='hidden', value='#{pregunta._id}') 
            
            div(class='row form-group')
                div(class='col-1')
                div(class='col-10')
                    Label(class='label-form-style') Question
                    input(type='text' class='form-control' name='question' value= '#{pregunta.question}' readonly)
                    
            
            br

            div(class='row form-group')
                div(class='col-1')
                div(class='col-2')
                    Label(class='label-form-style') Answer
                    input(type='text' class='form-control' name='options' value= '#{pregunta.correctAnswer}' readonly)

                div(class='col-3')
                    Label(class='label-form-style') Option B
                    input(type='text' class='form-control' name= 'options' value= '#{pregunta.optionB}' readonly)
                    
                div(class='col-2')
                    Label(class='label-form-style') Option C
                    input(type='text' class='form-control' name='options' value= '#{pregunta.optionC}' readonly)
                    
                div(class='col-3')
                    Label(class='label-form-style') Category
                     - var categoryChange = JSON.parse(JSON.stringify(pregunta.category))[0]
                    input(type='text' class='form-control'  value= '#{categoryChange.name}' readonly)
                    input(type='hidden' class='form-control' name='category' value= '#{categoryChange._id}' readonly)
                div(class='col-1')
            br
            div(class='row form-group')
                div(class='col-1')
                div(class='col-10')
                    Label(class='level-label-form-style') Level
                    br
                    label(class= "label-radio-button-style") Low 
                    input(type='radio', name='level', value='Low')      
                                        
                    label(class= "label-radio-button-style2") Medium
                    input(type='radio', name='level', value='Medium')

                    label(class= "label-radio-button-style2") High 
                    input(type='radio', name='level', value='High')

            br
            div(class='row form-group')  
                div(class='col-1')
                div(class='col-10 d-flex justify-content-between')                         
                    a(href='/suggestedQuestion' class='back-style pl-3 pr-3 btn btn-outline-info' role="button")  Cancel
                    input(type='submit', class='btn btn-outline-success'  value='Save')
                div(class='col-1')
        script(type="text/javascript").

              $(document).ready(function() {   

                $("#alert").fadeIn(5000);
                var levels = ["low","medium","high"];
                var numeroRandom = levels.length;
                var numero = Math.floor(Math.random()*numeroRandom);
                console.log(levels[numero]);
                $("#palert").text(levels[numero]);  
              })
                