html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title EDIT CATEGORY
    body

        h1 EDITAR CATEGORIA
        - if(error)
                ul
                    - for errors in error
                        li  #{errors.msg}    

        form(id='form', action='/category/update/#{categoria._id}?_method=PUT', method='POST')
            
            input(id='id', name='id', type='hidden', value='#{categoria._id}')
            input(id='name', name='name', type='text', value='#{categoria.name}')
            input(id='description', name='description', type='text', value='#{categoria.description}')
            input(type='submit', value='Update category')
