html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", type= "text/css", href="/css/style.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/dataTables.bootstrap4.min.css")
       
        
        title  Questions
    include ../menuLateral.jade

    - if(message)
        div(class='row')
            div(class="mt-2 col-9 offset-2 alert alert-success fade show" role="alert") #{message}    
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true")&times;  
    
    - if(error)
        div(class='row')
            div(class="mt-2 col-9 offset-2 alert alert-danger fade show" role="alert") #{error}    
                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true")&times;     
        
    div(class='col-md-3 offset-2 pt-4')
        h2 Questions
    br
    div(class='container-fluid')
        div(class='row offset-2')
            div(class='col-11')               
                    div(class='box-body')        
                        table(id='tablaUno' class='table table-sm table-bordered table-striped')
                            thead
                                tr
                                    th(class='tableAll') #
                                    th(class='tableAll') Question 
                                    th(class='tableAll') Level
                                    th(class='tableAll') Status
                                     th(class='tableAll') Category
                                    th(class='tableAll') Actions
                        
                            tbody
                    
                                -var i= -1
                    
                    
                        
                                each pregunta in preguntas 
                                    - ++i   
                                    tr  
                                        td #{i}
                                        td #{pregunta.question} 
                                        td #{pregunta.level}
                                        td #{pregunta.status}
                                        td
                                            -var j= 0
                                            - each categoria in pregunta.category                   
                                                -var categoryChange2= JSON.parse(JSON.stringify(pregunta.category))[j]
                                                - ++j
                                                p #{categoryChange2.name}  
                                    
                                        td 
                                            a(href='/question/#{pregunta._id}') 
                                                i(id='icon-see' class='fa fa-eye')
                                            - if(pregunta.status === 'not available') {
                                                a(class='no-active') 
                                                    i(class='fas fa-pencil-alt icon-edit')  
                                            -} 
                                            -else {
                                                a(href='/question/edit/#{pregunta._id}') 
                                                    i( class='fas fa-pencil-alt icon-edit')  
                                            -}
                                            - if (pregunta.status === 'not available') 
                                                button(disabled="true" type='button' class='fas fa-trash-alt button')                                                     
                                            - if  (pregunta.status === 'available')
                                                button(type='button' id='button1' class='fas fa-trash-alt button' data-toggle="modal" data-target="#myModal2" value= pregunta._id onclick='obtenervalor(`#{pregunta._id}`);')                                                     


    div(class="modal fade" id="myModal2" tabindex="-1" role="dialog")
        div(class="modal-dialog" role='document')
            div(class="modal-content")
                div(class='modal-header')
                    h5 Delete Question   
                    input(type='text' id='lista' style="visibility:hidden")                                        
                div(class="modal-body") Are you sure you want to delete this record?
                div(class="modal-footer")
                    button(type="button" class="btn btn-default" id="closeModal" data-dismiss='modal') No
                    form(action="" class= "link" method="POST" id='formEliminar')
                    a(class="btn btn-success" href='#' name='POST' onclick='' id='eliminar') Yes
                        
    div(class='row')
        div(class='col-sm-4 offset-2') 
            a(href='/question/create' class='btn btn-outline-success' role='button') New Question      
                   

            
    
    script(type="text/javascript" src='/js/bootstrap.js') 
    script(type="text/javascript" src="/js/jquery.min.js")
    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/jquery.dataTables.min.js")
    script(type="text/javascript" src="/js/dataTables.bootstrap4.min.js")
    
script(type="text/javascript").

    $(document).ready(function() {
            $('#tablaUno').DataTable();
    } );


    function obtenervalor(id) {
        $('#lista').val(id);       
    }

   

     $('#eliminar').click(function(){
        var id = document.getElementById('lista').value;            
        var action = '/question/delete/' 
        var action2 = '?_method=DELETE'
        var total = action.concat(id,action2);   
        console.log(total);
        document.getElementById("formEliminar").action = total;       
        document.getElementById("formEliminar").submit();
    });

   

    
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }


     