html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", type= "text/css", href="../public/css/style.css")
        link(rel="stylesheet" href="../public/css/bootstrap.css")
        title Question Detail 
    include ../menuLateral.jade

    div(class='container')
        div(class='row')
            div(class='col offset-2 pt-3')
                h2 Question Detail

        br
        div(class='row offset-2')
            div(class='form-group col-8')
                Label(class='label-form-style') Question        
                input(type='text' class='form-control' value= '#{pregunta.question}' readonly)
            
            div(class='form-group col-8')
                Label(class='label-form-style') Option 1                
                input(type='text' class='form-control' value= '#{pregunta.options[0]}' readonly)
            
            div(class='form-group col-8')
                Label(class='label-form-style') Option 2                
                input(type='text' class='form-control' value= '#{pregunta.options[1]}' readonly)
            
            div(class='form-group col-8')
                Label(class='label-form-style') Option 3               
                input(type='text' size='50' class='form-control' value= '#{pregunta.options[2]}' readonly)

            div(class='form-group col-8')
                Label(class='label-form-style2') Answer                
                input(type='text' size='50' class='form-control' value= '#{pregunta.answer}' readonly)


            div(class='form-group col-8')
                Label(class='label-form-style2') Level                
                input(type='text' class='form-control' value= '#{pregunta.level}' readonly)


            div(class='form-group col-8')
                Label(class='label-form-style2') Categories                            
                        -var j= 0
                        - each categoria in pregunta.category                   
                            -var categoryChange2= JSON.parse(JSON.stringify(pregunta.category))[j]
                            - console.log(pregunta.category[j])
                            - console.log(categoryChange2)
                            - console.log(categoryChange2.name)
                            - ++j       
                            p(size='65' class='form-control' readonly) #{categoryChange2.name}

        div(class='row')
            div(class='col-sm-4 offset-1')        
                a(href='/question' class='back-style pl-3 pr-3 btn btn-outline-info' role="button")  Back to All Questions
        
        br
        br
    
    
     
