html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://code.jquery.com/jquery-3.3.1.js")
        title EDIT QUESTION
    body

    h1 EDITAR PREGUNTA

    form(id='form', action='/question/update/#{pregunta._id}?_method=PUT', method='POST', style='white-space:pre;')
        
        input(id='id', name='id', type='hidden', value='#{pregunta._id}') 
        br 
        br
        - console.log()
        input(id='question', name='question', type='text', value='#{pregunta.question}')
        br
        br
        input(id='option1', name='options', type='text', value='#{pregunta.options[0]}')
        br
        br
        input(id='option2', name='options', type='text', value='#{pregunta.options[1]}')
        br
        br
        input(id='option3', name='options', type='text', value='#{pregunta.options[2]}')
        br
        br
        input(id='answer', name='answer', type='text', value='#{pregunta.answer}')
        br
        br
        input(id='level1', name='level', type='text', value='#{pregunta.level}', readonly="readonly")        
        br        
        label Bajo 
        input(type='radio', name='level2', value='bajo'  onChange='cambioValorComboNivel2();')            
        label Medio 
        input(type='radio', name='level2', value='medio'  onChange="cambioValorComboNivel2();")
        label Alto 
        input(type='radio', name='level2', value='alto'  onChange="cambioValorComboNivel2();") 

        br
        - var categoryChange= JSON.parse(JSON.stringify(pregunta.category))[0]; 
        label #{categoryChange.name}
        input(type='checkbox' name='category' value="#{categoryChange._id}" checked) 
        input(id='category2', name='category2', type='hidden', readonly="readonly", value='#{categoryChange._id}')
        br

        -each categoria, i in categorias
                label #{categoria.name}
                input(type='checkbox' name='categoriasCombo' value="#{categoria._id}") 

        
        br
        br
        input(type='submit', value='Update question')

    script(type="text/javascript").
        
        function cambioValorComboNivel2(){
            var valor= document.getElementsByName("level2");

             for(var i = 0;i < valor.length;i++)
                {
                    if(valor[i].checked)
                    {
                        $('#level1').val(valor[i].value)
                    }
                }           
        }

        function cambioValorComboCategoria(){
            
            var valor = document.getElementById("categorias");
            var valor2 = valor.selectedIndex;
            var valor3=  valor.options[valor2].text; 
            var valor4 = document.getElementById("categorias").value;
            var oculto = document.getElementById("category2").value;
            console.log(valor3);   
            console.log(valor4);       
            $('#category').val(valor3)
            $('#category2').val(valor4)
           
        }
   
           
        
       
