html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.js")
        title EDIT QUESTION
    body

    h1 EDITAR PREGUNTA
        - if(error)
            ul
                - for errors in error
                    li  #{errors.msg}  

    form(id='form', action='/question/update/#{pregunta._id}?_method=PUT', method='POST', style='white-space:pre;')
        
        input(id='_id', name='_id', type='hidden', value='#{pregunta._id}') 
        br 
        br
        
        input(id='question', name='question', type='text', value='#{pregunta.question}')
        br
        br
        input(id='option1', name='options', type='text', value='#{pregunta.options[0]}')
        br
        br
        input(id='option2', name='options', type='text', value='#{pregunta.options[1]}')
        br
        br
        input(id='option3', name='options', type='text', value='#{pregunta.options[2]}')
        br
        br
        input(id='answer', name='answer', type='text', value='#{pregunta.answer}')
        br
        br
        input(id='level1', name='level', type='text', value='#{pregunta.level}', readonly="readonly")        
        br        
        label Bajo 
        input(type='radio', name='level2', value='bajo'  onChange='cambioValorComboNivel();')            
        label Medio 
        input(type='radio', name='level2', value='medio'  onChange="cambioValorComboNivel();")
        label Alto 
        input(type='radio', name='level2', value='alto'  onChange="cambioValorComboNivel();") 

        br
        - console.log('antes del jsonparse')
        - console.log(pregunta.category)
        - var categoryChange= JSON.parse(JSON.stringify(pregunta.category))[0]; 
        - console.log(categoryChange)
       
        select(type='combobox' name='category' multiple)
            -each cat, i in pregunta.category                
                option(value="#{cat._id}") #{cat.name} 
         
        button(class="fas fa-angle-right")
        br
        button(class="fas fa-angle-left")
        
        select(type='combobox' name='categoriaCombos2' multiple)
            
            -each categoria, i in categorias
                - var j=0 
                - var categoryChange= JSON.parse(JSON.stringify(pregunta.category))[j];  
                - if(categoryChange._id != categoria._id)                    
                  - {
                        option(value= "#{categoria._id}") #{categoria.name}
                        -j++   
                    -}
                
        br         
         
        
        br    
        br
        input(type='submit', value='Update question')

    script(type="text/javascript").
        
        function cambioValorComboNivel(){
            var valor= document.getElementsByName("level2");

             for(var i = 0;i < valor.length;i++)
                {
                    if(valor[i].checked)
                    {
                        $('#level1').val(valor[i].value)
                    }
                }           
        }

       

       
