html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
       
        title Update Question

    include ../menuLateral.jade

    div(class='container-fluid mb-5')
        div(class='row')
            div(class='col-1')
            div(class='col-10')
                h2 Update Question
                - if(error)
                    ul(class='list-group ul-style')  
                        h5 Fix the following errors:
                        - for errors in error
                             li(class="list-group-item list-group-item-danger alert alert-danger alert-dismissible fade show" role="alert")  #{errors.msg}    
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                                    span(aria-hidden="true")&times;

            div(class='col-1')
        br
        div(class='row')
            div(class='col-1')
            div(class='col-10')    
                form(id='form', action='/question/update/#{pregunta._id}?_method=PUT', method='POST', style='white-space:pre;')
                    input(id='_id', name='_id', type='hidden', value='#{pregunta._id}') 

                    div(class='col')
                        label(class='label-form-style') Question
                        input(class='form-control' id='question', name='question', type='text', value='#{pregunta.question}')
                    br
                    div(class="row")                    
                        div(class='col')
                            label(class='label-form-style') Option A
                            input(class='form-control' id='option1', name='options', type='text', value='#{pregunta.options[0]}')

                   
                        div(class='col')
                            label(class='label-form-style') Option B
                            input(class='form-control' id='option2', name='options', type='text', value='#{pregunta.options[1]}')
                    
                     
                        div(class='col')
                            label(class='label-form-style') Option C and Answer
                            input(class='form-control' id='option3', name='options', type='text', value='#{pregunta.options[2]}')

                        
                    
                    br
                    div(class="row")
                        div(class='col')
                            label(class='label-form-style') Question Level
                            input(class='form-control' id='level1', name='level', type='text', value='#{pregunta.level}', readonly="readonly")

                    

                        div(class='col')
                            Label(class='label-form-style') Levels System
                            br
                            label(class= "label-radio-button-style") Low 
                            input(type='radio', name='level2', value='Low'  onChange='cambioValorComboNivel();')            
                            label(class=" label-radio-button-style2") Medium 
                            input(type='radio', name='level2', value='Medium '  onChange="cambioValorComboNivel();")
                            label(class ="label-radio-button-style2") High
                            input(type='radio', name='level2', value="High"  onChange="cambioValorComboNivel();") 
        
                    br
                    div(class="row")
                        
                    
                    div(class="row")      
                        div(class="col-5 button-change-custom")   
                            label(class='label-form-style') Categories              
                            select(class="select-style" id="origen" type='combobox' name='category' multiple)
                                -each cat, i in pregunta.category                
                                    option(value="#{cat._id}") #{cat.name} 

                    
                        div(class="col-2 button-change-custom")  
                            div(class='row')  
                                div(class='col d-flex justify-content-start btn-left-right-custom')                        
                                    input(type='button' id="pasar" value='>>>>' class='btn btn-primary') 
                               
                             
                            br   
                            div(class='row')    
                                div(class='col d-flex justify-content-start btn-left-right-custom')                                           
                                    input(type='button' id="quitar" value='<<<<' class='btn btn-primary')
                              
                                   
                        div(class="col-5 button-change-custom")  
                            label(class='label-form-style') Categories System
                            select(class="select-style" id="destino" type='combobox' name='categoriaCombos2' multiple selected='selected') 
                                
                                -each categoria, i in categorias       
                                    option(value= "#{categoria._id}") #{categoria.name} 
                    
                    br
                    div(class='row')
                        div(class='col d-flex justify-content-between')
                            a(href='/question' class='back-style pl-3 pr-3 btn btn-outline-success' role="button")  Cancel
                            input(type='submit', class='input-style-update btn btn-success' value='Save' id='botonUpdate')

                    
        
            div(class='col-1') 

    script(type="text/javascript").
        
        function cambioValorComboNivel(){
            var valor= document.getElementsByName("level2");

             for(var i = 0;i < valor.length;i++)
                {
                    if(valor[i].checked)
                    {
                        $('#level1').val(valor[i].value)
                    }
                }           
        }

        
        $(document).ready(function(){
            $('#pasar').click(function(){
                $('#origen option:selected').remove().appendTo('#destino');
                

            })
             $('#quitar').click(function(){
                $('#destino option:selected').remove().appendTo('#origen');
                

            })

            $('#botonUpdate').click(function(){
                $('#origen option').prop('selected',true)
                $('#destino option').prop('selected',false)
            

            })

               
        })
        
        

       

       
