html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
        link(rel="stylesheet", type= "text/css", href="/css/style.css")
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/dataTables.bootstrap4.min.css")
  
       
        
        title  Execute Game
    include ../menuLateral.jade

    


    div(class='col-md-3 offset-2 pt-3')
        h2 Execute Game: #{juego.title}

       
   
        //- PREGUNTAS NIVEL BAJO
        //- PREGUNTA #1
        input(type='hidden' style="visibility:hidden" value='#{questionsB[0].question}'  class="0") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[0].options[0]}' class="0") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[0].options[1]}' class="0") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[0].options[2]}' class="0") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[0].level}'  class="0") 

        //- PREGUNTA #2
        input(type='hidden' style="visibility:hidden" value='#{questionsB[1].question}'  class="1") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[1].options[0]}' class="1") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[1].options[1]}' class="1") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[1].options[2]}' class="1") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[1].level}'  class="1") 

        //- PREGUNTA #3
        input(type='hidden' style="visibility:hidden" value='#{questionsB[2].question}'  class="2") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[2].options[0]}' class="2") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[2].options[1]}' class="2") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[2].options[2]}' class="2") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[2].level}'  class="2") 

        //- PREGUNTA #4
        input(type='hidden' style="visibility:hidden" value='#{questionsB[3].question}'  class="3") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[3].options[0]}' class="3") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[3].options[1]}' class="3") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[3].options[2]}' class="3") 
        input(type='hidden' style="visibility:hidden" value='#{questionsB[3].level}'  class="3") 

        //- PREGUNTAS NIVEL MEDIO
        //- PREGUNTA #5
        input(type='hidden' style="visibility:hidden" value='#{questionsM[0].question}'  class="4") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[0].options[0]}' class="4") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[0].options[1]}' class="4") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[0].options[2]}' class="4") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[0].level}'  class="4") 

        //- PREGUNTA #6
        input(type='hidden' style="visibility:hidden" value='#{questionsM[1].question}'  class="5") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[1].options[0]}' class="5") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[1].options[1]}' class="5") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[1].options[2]}' class="5") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[1].level}'  class="5") 
        
        //- PREGUNTA #7
        input(type='hidden' style="visibility:hidden" value='#{questionsM[2].question}'  class="6") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[2].options[0]}' class="6") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[2].options[1]}' class="6") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[2].options[2]}' class="6") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[2].level}'  class="6") 
        
        //- PREGUNTA #8
        input(type='hidden' style="visibility:hidden" value='#{questionsM[3].question}'  class="7") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[3].options[0]}' class="7") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[3].options[1]}' class="7") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[3].options[2]}' class="7") 
        input(type='hidden' style="visibility:hidden" value='#{questionsM[3].level}'  class="7")
        
        //- PREGUNTAS NIVEL ALTO
        input(type='hidden' style="visibility:hidden" value='#{questionsA[0].question}'  class="8") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[0].options[0]}' class="8") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[0].options[1]}' class="8") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[0].options[2]}' class="8") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[0].level}'  class="8")

        input(type='hidden' style="visibility:hidden" value='#{questionsA[1].question}'  class="9") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[1].options[0]}' class="9") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[1].options[1]}' class="9") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[1].options[2]}' class="9") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[1].level}'  class="9")

        input(type='hidden' style="visibility:hidden" value='#{questionsA[2].question}'  class="10") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[2].options[0]}' class="10") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[2].options[1]}' class="10") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[2].options[2]}' class="10") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[2].level}'  class="10")

        input(type='hidden' style="visibility:hidden" value='#{questionsA[3].question}'  class="11") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[3].options[0]}' class="11") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[3].options[1]}' class="11") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[3].options[2]}' class="11") 
        input(type='hidden' style="visibility:hidden" value='#{questionsA[3].level}'  class="11")


    div(class='row offset-2') 
            div(class='col-11') 
                div(class="card")
                    div(class="card-header card-header-custom" id="divUno") Questions
                    
                    div(class="card-body cardb-custom")
                        
                        div(class='row')
                            label(class='p-cardbody-custom col-sm-2') Question:
                            div(class='col-sm-10 div-inputs-custom')
                                input(class="card-text p-cardbody-custom input-custom" id='100' value='' readonly)

                        br
                        div(class='row')
                            label(class='p-cardbody-custom col-sm-2')  Option A:
                            div(class='col-sm-10 div-inputs-custom col-sm-2')
                                input(class="card-text p-cardbody-custom input-custom" id='101' value='' readonly)
                                
                        br
                        div(class='row')
                            label(class='p-cardbody-custom col-sm-2')  Option B:
                            div(class='col-sm-10 div-inputs-custom')
                                input(class="card-text p-cardbody-custom input-custom" id='102' value='' readonly)
                        br
                        div(class='row')
                            label(class='p-cardbody-custom col-sm-2')  Answer:
                            div(class='col-sm-10 div-inputs-custom')
                                input(class="card-text p-cardbody-custom input-custom" id='103' value='' readonly)
                        br
                        
                        div(class='row')
                            label(class='p-cardbody-custom col-sm-2')  Level:
                            div(class='col-sm-10 div-inputs-custom')
                                input(class="card-text p-cardbody-custom input-custom" id='104' value='' readonly)

                    div(class="card-header card-header-custom border-top" id="divUno") Counting
                    hr
                    div(class='row form-group offset-1')
                        div(class='col-11 d-flex justify-content-between')
                            button( class='btn btn-outline-info' id='buttonStart') Start Game
                            button(class='btn btn-outline-info' id='buttonNext' disabled='true') Next Question
                            button(class='btn btn-outline-info' id='buttonSend' disabled='true') Send Question
                            button(class='btn btn-outline-info' id='buttonEnd' disabled='true') End Game
                            form(action="/executeGame/5c6f1c839dbad8ab88a4f6ec" class= "link" method="GET")
                                button( class='btn btn-outline-info' id='buttonStart') Start Game 2
    
    div(id='foo' style="display: none")
 
        script(type="text/javascript" src='/js/bootstrap.js') 
        script(type="text/javascript" src="/js/jquery.min.js")
        script(type="text/javascript" src="/js/bootstrap.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js" )
        script(src="/js/socket.js" )
        


script(type="text/javascript").
    $(document).ready(function() {
        var botonS =document.getElementById("buttonSend");
        var botonN =document.getElementById("buttonNext");
       
       
        var opts = {
                lines: 10, // The number of lines to draw
                length: 42, // The length of each line
                width: 8, // The line thickness
                radius: 31, // The radius of the inner circle
                scale: 0.85, // Scales overall size of the spinner
                corners: 1, // Corner roundness (0..1)
                color: '#33cc33', // CSS color or array of colors
                fadeColor: 'transparent', // CSS color or array of colors
                speed: 0.7, // Rounds per second
                rotate: 19, // The rotation offset
                animation: 'spinner-line-fade-quick', // The CSS animation name for the lines
                direction: 1, // 1: clockwise, -1: counterclockwise
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                className: 'spinner', // The CSS class to assign to the spinner
                top: '35%', // Top position relative to parent
                left: '55%', // Left position relative to parent
                position: 'absolute' // Element positioning
            }
        var target = document.getElementById('foo');
        var spinner = new Spinner(opts).spin(target);
        
        function bloquea(){
            if(botonS.disabled==false){
                botonS.disabled=true;
                botonN.disabled=true;
                target.style.display =' block';
                

                setTimeout(function(){
                    botonN.disabled=false;
                    target.style.display =' none';
                    
                    if(contador==12){
                        botonN.disabled=true;
                    }
                }, 10000)
            }
           
        }
    
        var contador = 1;
        var contador2 = 2;

        $("#buttonNext").click(function(){
            
            var contadorInput = 100;
            var i,j;
            for(i=0, j=100; i < 5; i++, j++)
            {
                var pregunta = document.getElementsByClassName(contador)[i]
                var inputs = document.getElementById(j);
                inputs.setAttribute('value', pregunta.value);
                $('#buttonSend').attr("disabled", false);
            }
            contador = contador + 1;
            $("#divUno").html("Question "+ contador2);
            contador2 = contador2 + 1;
            
            if(contador == 12){            
                $('#buttonNext').attr("disabled", true);
                $('#buttonEnd').attr("disabled", false);
            }
          
        })


       $("#buttonStart").click(function(){


           var pregunta = document.getElementsByClassName("0")[0]
           var opcion1 =  document.getElementsByClassName("0")[1]
           var opcion2 =  document.getElementsByClassName("0")[2]
           var opcion3 =  document.getElementsByClassName("0")[3]
           var level =    document.getElementsByClassName("0")[4]

           var inputPregunta = document.getElementById("100");
           inputPregunta.setAttribute('value', pregunta.value);

           var inputOpcion1 = document.getElementById("101");
           inputOpcion1.setAttribute('value', opcion1.value);

           var inputOpcion2 = document.getElementById("102");
           inputOpcion2.setAttribute('value', opcion2.value);

           var inputOpcion3 = document.getElementById("103");
           inputOpcion3.setAttribute('value', opcion3.value);

           var inputLevel = document.getElementById("104");
           inputLevel.setAttribute('value', level.value);

           $('#buttonStart').attr("disabled", true);
           $('#buttonSend').attr("disabled", false);
           $("#divUno").html("Question 1");
            var hola = "hola";
            connect(hola);
        
    
        
        
           
       });

       $("#buttonSend").click(function(){
           bloquea();
           $("#divUno").html("Question " +contador+" Sent"); 
           

       }) 
       
    });

